.shop-item {
  min-height: 90vh;
  padding-top: 10px;
  padding-bottom: 50px;
  background-color: white;

  .info-button {
    background-color: transparent !important;
    color: black !important;
    border-color: black !important;
    margin-top: 25px !important;
    margin-bottom: 25px !important;
    font-weight: 900 !important;
    border-width: 2px;
  }

  .attribute-container {
    margin-top: 10px;
    margin-bottom: 25px;
  }
  .product-name {
    font-weight: 900;
    margin: 0;
  }

  .btn-type {
    margin: 5px !important;
    background-color: transparent;
    border-radius: 50px;
    border-color: black;
    border-width: 2px;
  }

  .product-caption {

  }

  .product-image {
    max-width: 100%;
  }

  .product-info {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
  }

  .product-price {
    margin-top: 25px;
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 5px;
  }

  .product-desc {
    font-size: 15px;
  }


  .product-attribute {
    font-weight: 900;
    font-size: 13px;
    margin-bottom: 5px;
  }

  .dropdown-container {
    margin: 5px 26px 25px 0;
  }

  .btn-outline-primary {
    color: #FF7575;
    border-color: #FF7575;
  }

  .btn-outline-primary:hover {
    color: white;
    background-color: #FF7575;
  }

  .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    background-color: #FF7575;
    color: white;
  }
}
