<div class="container shop-item">
  <div class="row" *ngIf="productLoaded">
    <div class="col-md-4">
      <img class="product-image" [src]="product?.images[0]">
    </div>
    <div class="col-md-8">
      <h3 class="product-name">{{product?.name}}</h3>
      <p class="product-price">$15.99</p>
      <p class="product-desc">{{product?.description}}</p>
      <div class="attributes-container d-flex flex-row" *ngIf="product.attributes.length > 0">
        <div class="dropdown-container" *ngFor="let attrbute of productAttributes">
          <p class="product-attribute">{{attrbute.name | uppercase}}</p>
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{attrbute.selected}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item" ngbDropdownItem *ngFor="let option of attrbute.options" (click)="selectAttribute(attrbute.name, option)">{{option}}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="btn btn-outline-primary" (click)="addItemToCart(productAttributes)">Add To Cart</div>
        </div>
      </div>
    </div>
  </div>
</div>
