<div class="container shop-item">
  <div class="row" *ngIf="productLoaded">
    <div class="col-md-7">
      <img [hidden]="!skuImageLoaded || selectedItem?.image === null" [lensStyle]="'LENS'" [minZoomLevel]=".1" [maxZoomLevel]="1.5" [lensWidth]="100" [lensHeight]="100" [imageZoom]="selectedItem?.image" [src]="selectedItem?.image" [style.width]="'75%'" [style.height]="'auto'" (load)="skuImageLoad()">
      <img [hidden]="(!productLoaded) || selectedItem?.image !== null" [lensStyle]="'LENS'" [minZoomLevel]=".1" [maxZoomLevel]="1.5" [lensWidth]="100" [lensHeight]="100" [imageZoom]="product?.images[0]" [src]="product?.images[0]" [style.width]="'75%'" [style.height]="'auto'" (load)="productImageLoad()">
      <!--
     <ngx-image-zoom
       [thumbImage] = selectedItem?.image
       [zoomMode]="hover"
       [enableLens]="true">
     ></ngx-image-zoom>
     <img [hidden]="!imageLoad" class="product-image" [src]="selectedItem?.image" (load)="productImageLoad()">-->
    </div>
    <!--
    <div class="col-md-7 d-flex flex-row">
      <div class="img-thumb-container">
        <div class="d-flex flex-row">
          <div class="img-thumb-holder" *ngFor=" let image of product.images" (click)="selectImage(image)">
              <img class="img-thumb" [src]="image">
          </div>
        </div>
      </div>
      <div class="main-image-container" *ngFor="let image of product.images">
        <img class="main-image" [src]="image" *ngIf="image === selectedImage">
      </div>
    </div>
    -->
    <div class="col-md-5">
      <div class="product-info">
        <button class="btn info-button" [routerLink]="['/shop/products']">Back To Shop</button>
        <h3 class="product-name">{{product?.name}}</h3>
        <p class="product-caption">{{product?.caption}}</p>
        <p class="product-price" [hidden]="selectedItem?.inventory.quantity === 0">${{product?.metadata.price / 100 | number: '1.2-2' }}</p>
        <p class="product-price" [hidden]="selectedItem?.inventory.quantity > 0 || selectedItem?.inventory.type === 'infinite'">Sold Out</p>
      </div>
      <div class="attributes-container d-flex flex-column" *ngIf="product.attributes.length > 0; let i = index">
        <div class="attribute-container" *ngFor="let attribute of productAttributes">
          <p class="product-attribute">SELECT {{attribute.name | uppercase}}:</p>
          <button class="btn btn-type" *ngFor="let option of attribute.options"
                  [ngClass]="{'active': option === attribute.selected}"
                  (click)="selectAttribute(attribute.name, option, productAttributes)">{{option | uppercase}}
          </button>
        </div>
        <button class="btn btn-dark" *ngFor="">Attribute</button>
      </div>
      <button class="btn info-button cart-button" [hidden]="selectedItem?.inventory.quantity === 0" (click)="addItemToCart(productAttributes)">ADD TO BAG</button>
      <button class="btn info-button cart-button d-lg-none" [routerLink]="['/checkout']">VIEW CART</button>
      <div class="description-container">
        <p class="description-title">DESCRIPTION</p>
        <p class="product-desc">{{product?.description | uppercase}}</p>
      </div>
    </div>
  </div>
</div>
