/**.ngxImageZoomContainer {
  max-width: 100% !important;
  max-height: 300px !important;
}

:host.ngxImageZoomContainer{
    max-width: 100% !important;
    max-height: 300px !important;
}

::ng-deep .ngxImageZoomContainer{
  max-width: 75% !important;
  height: auto !important;
} **/

.shop-item {
  min-height: 90vh;
  padding-top: 10px;
  padding-bottom: 50px;
  background-color: white;

  .info-button {
    background-color: transparent !important;
    color: black !important;
    border-color: black !important;
    margin-top: 25px !important;
    margin-bottom: 25px !important;
    font-weight: 900 !important;
    border-width: 2px;
  }

  .img-thumb-container {
    max-width: 40%;
  }

  .img-thumb-holder {
    margin-right: 15px;
  }

  .main-image-container {
    max-width: 60%;
  }

  .main-image {
    max-width: 100%;
  }

  .img-thumb {
    max-width: 100%;
    max-height: 300px;
  }

  .attributes-container {
    border-bottom: 1px solid black;
  }

  .attribute-container {
    margin-top: 10px;
    margin-bottom: 25px;
  }

  .description-container {
    padding-top: 25px;
  }

  .cart-button {
    background-color: black !important;
    color: white !important;
    margin-right: 10px;
  }
  .product-name {
    font-weight: 900;
    margin: 0;
  }

  .description-title {
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 5px;
  }

  .btn-type {
    margin: 5px !important;
    background-color: transparent;
    border-radius: 50px;
    border-color: black;
    border-width: 2px;
    font-size: 14px !important;
    font-weight: 700 !important;
  }

  .active {
    background-color: black;
    color: white !important;
  }

  .product-caption {

  }

  .product-image {
    max-width: 100%;
  }

  .product-info {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
  }

  .product-price {
    margin-top: 25px;
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 5px;
  }

  .product-desc {
    font-size: 15px;
  }


  .product-attribute {
    font-weight: 900;
    font-size: 13px;
    margin-bottom: 5px;
  }

  .dropdown-container {
    margin: 5px 26px 25px 0;
  }

  .btn-outline-primary {
    color: #FF7575;
    border-color: #FF7575;
  }

  .btn-outline-primary:hover {
    color: white;
    background-color: #FF7575;
  }

  .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    background-color: #FF7575;
    color: white;
  }
}
