<div class="container-fluid portfolio">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="display-4">PORTFOLIO</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industrys</p>
    </div>
  </div>
    <div class="row wrap">
      <div class="col-lg-6 image-grid">
        <div class="row">
          <div class="col-lg-12 image-grid image">
            <img class="landscapeImage" src="../../../assets/home/portfolio1.jpeg">
          </div>
          <div class="col-lg-6 image-grid">
            <img class="portraitImage" src="../../../assets/portfolio/portfolio6.jpg">
          </div>
          <div class="col-lg-6 image-grid">
            <img class="portraitImage" src="../../../assets/portfolio/portfolio5.JPG">
          </div>
        </div>
      </div>
      <div class="col-lg-6 image-grid">
        <div class="row">
          <div class="col-lg-6 image-grid">
            <img class="portraitImage" src="../../../assets/portfolio/portfolio3.jpg">
          </div>
          <div class="col-lg-6 image-grid">
            <img class="portraitImage" src="../../../assets/portfolio/portfolio5.jpg">
          </div>
          <div class="col-lg-12 image-grid">
            <img class="landscapeImage" src="../../../assets/portfolio/eyes.JPG">
          </div>
        </div>
      </div>
    </div>
</div>
