<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <span class="navbar-brand col-md-12 col-md-12 mr-0" href="#">Vanity Lash</span>
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item" (click)="onLinkClick('Home')" [ngClass]="{'active': activeLink === 'Home'}">
            <a class="nav-link">Home</a>
          </li>
          <li class="nav-item" (click)="onLinkClick('Gallery')" [ngClass]="{'active': activeLink === 'Gallery'}">
            <a class="nav-link">Gallery</a>
          </li>
          <li class="nav-item" (click)="onLinkClick('Services')" [ngClass]="{'active': activeLink === 'Services'}">
            <a class="nav-link">Services</a>
          </li>
          <li class="nav-item" (click)="onLinkClick('Contact')" [ngClass]="{'active': activeLink === 'Contact'}">
            <a class="nav-link">Contact</a>
          </li>
          <li class="nav-item" (click)="onLinkClick('Inquiries')" [ngClass]="{'active': activeLink === 'Inquiries'}">
              <a class="nav-link">Contact Inquiries</a>
          </li>
          <li class="nav-item" (click)="onLinkClick('Email')" [ngClass]="{'active': activeLink === 'Email'}">
              <a class="nav-link">Email List</a>
          </li>
          <li class="nav-item" (click)="onLinkClick('Analytics')" [ngClass]="{'active': activeLink === 'Analytics'}">
              <a class="nav-link">Analytics</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="col-md-10 offset-md-2 dashboard-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 d-flex justify-content-between">
            <h1>{{activeLink}}</h1>
            <button *ngIf="pageEdited" type="button" class="btn btn-danger" (click)="onSaveClick()">SAVE</button>
          </div>
        </div>
      </div>
      <app-dashboard-home-page *ngIf="activeLink === 'Home'"></app-dashboard-home-page>
      <app-dashboard-contact *ngIf="activeLink === 'Contact'"></app-dashboard-contact>
    </div>
  </div>
</div>
