<div class="container-fluid training">
  <div class="row training-row">
    <div class="col-sm-6 training-image d-none d-lg-block">
    </div>
    <div class="col-lg-6 training-text sparkley">
      <h1 class="display-4 training-title text-center">{{ trainingInfo?.title}}</h1>
      <p class="training-info">{{ trainingInfo?.info }}</p>
      <div class="row">
        <div class="col-12 text-center">
          <button type="button" class="btn btn-light info-button sparkley1" [routerLink]="['/services/all']" (click)="trainingBtnClicked()">{{trainingInfo?.button}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
