<div class="container-fluid training">
  <div class="row training-row">
    <div class="col-sm-6 training-image hidden-md-down">
    </div>
    <div class="col-sm-6 training-text sparkley">
      <h1 class="display-4 training-title text-center">{{ (sectionInfo | async)?.title}}</h1>
      <p class="training-info">{{ (sectionInfo | async)?.info}}</p>
      <div class="row">
        <div class="col-12 text-center">
          <button type="button" class="btn btn-light info-button sparkley1" [routerLink]="['/services']" (click)="trainingBtnClicked()">{{ (sectionInfo | async)?.button}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
