.training {
  background-color: black;
  color: white;
}

.training-row {
  height: 100%;
}

.training-text {
  padding-bottom: 72px;
}

.training-image {
  background: linear-gradient(to left, black, rgba(0, 0, 0, 0) 50%), linear-gradient(to bottom, black, rgba(0, 0, 0, 0) 30%), linear-gradient(to top, black, rgba(0, 0, 0, 0) 50%), url("../../../../assets/home/training.jpg");
  background-size: cover;
}

.training-info {
  padding: 15px 100px 0 100px;
}

.training-title {
  padding-top: 50px;
}

