<div class="container-fluid training">
  <div class="row training-row">
    <div class="col-lg-6 training-text sparkley">
      <h1 class="display-4 training-title">Vanity Products</h1>
      <p class="training-info">The most innovative and effective products created FOR lash artists BY lash artists. Our products are stylish, reputable and built to LAST.</p>
      <div class="row">
        <div class="col-12 text-center">
          <button type="button" class="btn btn-light info-button sparkley1" [routerLink]="['/shop/products']" (click)="trainingBtnClicked()">SHOP NOW</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6 training-image d-lg-block">
    </div>
  </div>
</div>

