.about-section {
  color: white;
  background-color: black;

  h1 {
    margin-bottom: 15px;
  }

  .about-row {
    height: 100%;
    min-height: 10vh;
    border-bottom: 1px solid white;

  }

  .about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 300px;
  }

  .about {
    font-size: 18px;
    padding: 0 2em 0 2em;
    background-color: black;
  }
  .title {
    font-size: 72px;
    margin-bottom: 25px;
  }

  .about-image {
    background: linear-gradient(to right, black, rgba(0, 0, 0, 0) 30%), linear-gradient(to bottom, black, rgba(0, 0, 0, 0) 50%), linear-gradient(to top, black, rgba(0, 0, 0, 0) 50%), url("../../../../assets/home/about.png");
    background-size: cover;
  }

  .vault {
    max-height: 50px;
  }

  .logo {
    width: 350px;
    margin-bottom: 25px;
  }

  @media (max-width: 576px) {
    .about-text {
      padding: 15px;
    }

    .footer-link {
      margin: 15px 0;
    }

  }

  @media (max-width: 992px) {
    .about-row {
      min-height: auto;
    }
  }

}

