<div class="container-fluid training">
  <div class="row training-row">
    <div class="col-sm-6 training-image hidden-md-down">
    </div>
    <div class="col-sm-6 training-text">
      <h1 class="display-4 training-title text-center">TRAINING</h1>
      <p class="training-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
      <div class="row">
        <div class="col-12 text-center">
          <button type="button" class="btn btn-light info-button sparkley" [routerLink]="['/services']" (click)="trainingBtnClicked()">Book Today!</button>
        </div>
      </div>
    </div>
  </div>
</div>
