<div class="container-fluid shop">
  <div class="row shop-header d-flex align-items-center">
    <div class="col-lg-6">
      <p class="shop-heading">Vanity Products</p>
      <p class="shop-info">The most innovative and effective products created FOR lash artists BY lash artists. Our products are stylish, reputable and built to LAST.</p>
      <button type="button" class="btn btn-light info-button" (click)="scrollToProducts()">SHOP NOW</button>
    </div>
  </div>
  <div class="row">
  <nav class="navbar sticky-top navbar-dark bg-dark" id="navbar">
    <div class="navbar-nav d-flex flex-row">
      <a class="nav-item nav-link" (click)="changeCategory(category)" [ngClass]="{'active': category === activeCategory }" *ngFor="let category of categories">{{category | uppercase}}</a>
    </div>
  </nav>
  </div>

  <div class="row products" *ngIf="productsLoaded" [hidden]="!imageLoaded">
    <div class="col-md-4" *ngFor="let product of filteredProducts" (click)="onClickProduct(product.id)">
      <div class="product-container">
        <img class="product-image text-center" [src]="[product?.images[0]]" (load)="onImageLoad()">
        <a class="product-info">
          <p class="product-title">{{product?.name | uppercase}}</p>
          <p class="product-caption" *ngIf="product?.caption">{{product?.caption | uppercase }}</p>
          <p class="product-price">${{product?.metadata.price / 100 | number : '1.2-2'}}</p>
        </a>
        <!--<p class="product-price text-center">${{product.pr}}</p>-->
      </div>
    </div>
  </div>
</div>
