.shop {
  min-height: 90vh;
  background-color: white;
  padding-bottom: 50px;

  .navbar {
    color: white;
    background-color: black;
    min-width: 100%;

    .nav-link {
      padding: 0 15px;
      font-size: 15px !important;
      color: white;
      font-weight: 400;
      &:hover {
        text-decoration: none;
        cursor: pointer;
      }
    }

    .active {
      text-decoration: underline;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.shop-header {
  height: 90vh;
  background: linear-gradient(
      rgba(0, 0, 0, .7),
      rgba(0, 0, 0, .7)
  ), url("../../../assets/background/subscribeBG.jpg");
  color: white;
  padding-left: 60px;
}

.shop-heading {
  font-weight: 300;
  font-size: 4em;
}

.shop-info {
  font-size: 18px;
}

.info-button {
  margin-top: 25px !important;

}

.products {
  padding: 50px 100px;
}

.product-info {
  padding: 10px 50px;
  text-align: left;
}

.product-container {
  width: 100%;
  height: auto;

  &:hover {
    cursor: pointer;
  }

  .product-image {
    max-width: 100%;
  }

  .product-title {
    margin-bottom: 1px;
    font-weight: 600;
    font-size: 17px;
  }

  .product-caption {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 1px;
  }

  .product-price {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 1px;
  }

}

@media (min-width: 1196px) {

}

@media (max-width: 768px) {
  .products {
    padding: 25px 25px;
  }
}
@media (max-width: 576px) {
  .shop-header {
    padding: 0 10px;
  }
}


