<div class="container-fluid services">
  <h1 class="display-4 text-center">{{ servicesSection?.title }}</h1>
  <div class="row">
    <div class="col-md-3 text-center" *ngFor="let service of services; index as i">
      <app-service [service]="service" [index]="i"></app-service>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
    <button type="button" class="btn btn-light info-button sparkley1" [routerLink]="['/services']" (click)="servicesButtonClicked()">{{ servicesSection?.button }}</button>
    </div>
  </div>
</div>
