@import '../../../variables';

.services {
  padding: 50px 0 25px;
  background-color: black;
  color: white;
  background-image: url("../../../../assets/background/RoseBGDARKER.png");
  background-attachment: fixed;
  background-size: cover;
  border-bottom: 1px solid $color6 ;

  .display-4 {
    padding-bottom: 0;
  }

  .service-icon {
    max-height: 150px;
  }

  .about-image {
    height: 100px;
  }

  .service {
    min-height: 20vh;
  }

  .info-button {
    margin: 25px 0 25px !important;
  }

}

@media (max-width: 576px) {
  .services {
    background-attachment: scroll;
  }
}
