<div class="container-fluid training">
  <div class="row training-row">
    <div class="col-sm-6 training-image d-none d-lg-block">
    </div>
    <div class="col-lg-6 training-text sparkley">
      <h1 class="display-4 training-title">Appointments</h1>
      <p class="training-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
      <div class="row">
        <div class="col-12 text-center">
          <button type="button" class="btn btn-light info-button sparkley1" [routerLink]="['/appointments/all']" (click)="trainingBtnClicked()">SCHEDULE</button>
        </div>
      </div>
    </div>
  </div>
</div>

