<div class="container-fluid training">
  <div class="row training-row">
    <div class="col-sm-6 training-image d-lg-block">
    </div>
    <div class="col-lg-6 training-text sparkley">
      <h1 class="display-4 training-title">Appointments</h1>
      <p class="training-info">Our Lash sets are customized to fit your personality and signature style. Do you love a simple natural look or are you ready to bring the drama? Book your appointment today.</p>
        <div class="row">
        <div class="col-12 text-center">
          <button type="button" class="btn btn-light info-button sparkley1" [routerLink]="['/appointments/all']" (click)="trainingBtnClicked()">SCHEDULE</button>
        </div>
      </div>
    </div>
  </div>
</div>

