@import "../../../variables";

.training {
  background-color: black;
  color: white;
}

.training-row {
  height: 100%;
}

.training-text {
  padding: 25px 75px;
  border-bottom: 1px solid $color6;
}

.training-image {
  background: linear-gradient(to left, black, rgba(0, 0, 0, 0) 50%), linear-gradient(to bottom, black, rgba(0, 0, 0, 0) 30%), linear-gradient(to top, black, rgba(0, 0, 0, 0) 50%), url("../../../../assets/home/IMG_6036.jpg");
  background-size: cover;
  min-height: 400px;
  border-bottom: 1px solid $color6;
}

.training-title {
  padding-top: 50px;
}

a {
  text-decoration: underline !important;
  color: white;
  font-weight: 900;
}
@media (max-width: 576px) {

  .d-none {
    display: none;
  }

  .training-text {
    padding: 25px 25px;
    text-align: center;
  }
}

