<div class="container-fluid subscribe text-center">
  <h1>{{ subscribeInfo?.title }}</h1>
  <h5>{{ subscribeInfo?.info }}</h5>
  <form (ngSubmit)="onSubcribeClick()" #subscribeForm="ngForm" novalidate>
    <div class="form-group row d-flex justify-content-center">
      <div class="col-sm-6">
        <input type="email" class="form-control" id="inputEmail" placeholder="E-mail" [(ngModel)]="email" name="email" required>
        <button type="submit" value="submit" class="btn btn-light info-button sparkley1" [disabled]="!subscribeForm.form.valid">{{ subscribeInfo?.button}}</button>
      </div>
    </div>
  </form>
</div>
