.container-fluid {
  padding-top: 85px;
  color: white;
  min-height: 90vh;
  background: url("../../../assets/background/RoseBGDARKER.png");
  background-size: cover;
  background-attachment: fixed;
}

.red:before {
  background-color: rgba(255,0,0,0.5);
}

.nav-link {
  color: white;
}

.nav-link.active {
  background-color: transparent;
  border-bottom: 1px solid #FF7575;
  border-radius: 0px;
}

.services {
  padding-top: 45px;
  padding-bottom: 45px;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: #FF7575;
    }
  }
}

.service {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding-top: 15px;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {

  .container-fluid {
    background-attachment: scroll;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {

  .container-fluid {
    background-attachment: scroll;
  }
}


