<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <ul class="nav nav-pills mb-3 justify-content-center" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#lash" [ngClass]="{'active' : selectedService === 'all' || selectedService === null}" [routerLink]="['/services/all']">ALL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#lash" [ngClass]="{'active' : selectedService === 'lash'}" [routerLink]="['/services', 'lash']">LASH SETS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#lash" role="tab" aria-controls="pills-home" aria-selected="true" [ngClass]="{'active' : selectedService === 'fill'}" [routerLink]="['/services', 'fill']">LASH FILLS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#lash" [ngClass]="{'active' : selectedService === 'brows'}" [routerLink]="['/services', 'brows']">BROWS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#lash" [ngClass]="{'active' : selectedService === 'waxing'}" [routerLink]="['/services', 'waxing']">WAXING</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#lash" [ngClass]="{'active' : selectedService === 'training'}" [routerLink]="['/services', 'training']">TRAINING</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h5>Checkout our gallery and pricing below</h5>
    </div>
  </div>
  <div class="row services">
    <div class="col-lg-6" *ngFor="let service of filteredServices">
      <a [href]="service?.serviceLink" class="sparkleBtn">
      <div class="service d-flex justify-content-between sparkleBtn">
      <p>{{service?.serviceName}}</p>
      <p>${{service?.servicePrice | json}}</p>
      </div>
      </a>
    </div>
  </div>
  </div>
</div>
