@import "../../../variables";
.portfolio {
  padding: 0;
  background-color: black;
  color: white;
  border-bottom: 1px solid $color6;
}

a {
  color: white;

  &:hover {
    text-decoration: none;
  }
}

.portfolio-images {
  padding-top: 72px;
}

.row {
  margin: 0;
}

.landscapeImage {
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(100%);
  filter:brightness(100%);

  &:hover {
    /**
    -webkit-filter: brightness(50%);
    filter:brightness(50%);
    **/
  }
}

.portraitImage {
  max-width: 100%;
  /**
  -webkit-filter: brightness(75%);
  filter:brightness(75%);
  **/
}

.image-grid {
  padding: 0px;
  overflow: hidden;
}

.image-grid-row {
  padding: 0px;
  overflow: hidden;
}

.image-hover {
  z-index: 10;
  transition: transform .5s;
  &:hover {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
  }
}

.image-word {
}

.square-text {
  font-family: Tiva;
  font-size: 5em;
}

.overlay {
  background: url("../../../../assets/background/flowersquare.png");
  background-size: cover;
}

/**

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: .25;
  transition: .5s ease;
  background-color: black;
  z-index: 1;
  &:hover {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
  }
}
**/

@media (max-width: 576px) {
.d-xs-none {
  display: none !important;
}

}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .portraitImage {
    height: 100%;
    width: 100%;
  }
}

