<div class="container-fluid">
  <!--
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-pills mb-3 justify-content-center" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" (click)="filterServices('all')" data-toggle="pill">ALL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" (click)="filterServices('lash')">LASH SETS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" (click)="filterServices('fill')">LASH FILLS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" (click)="filterServices('brows')">BROWS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" (click)="filterServices('waxing')">WAXING</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" (click)="filterServices('traing')">TRAINING</a>
        </li>
      </ul>
    </div>
  </div>
  -->
  <div class="row">
    <div class="col-md-6" *ngFor="let service of services; let i = index">
      <app-dashboard-card>
        <div class="d-flex justify-content-between">
          <h3>{{service.serviceName}}</h3>
          <h3 *ngIf="!servicePriceEdit" (click)="toggleServicePriceEdit()">${{service.servicePrice}}</h3>
          <input *ngIf="servicePriceEdit" type="number" class="form-control servicesTitleTextArea" id="servicePrice"
                 name="serviceprice" [(ngModel)]="service.servicePrice" [placeholder]="service.servicePrice">
        </div>
        <div>
          <h6>{{service.serviceType | uppercase}}</h6>
          <p *ngIf="!serviceEdit" (click)="toggleServiceEdit()">{{service.serviceLink}}</p>
          <textarea *ngIf="serviceEdit" type="text" class="form-control servicesTitleTextArea" id="statTitle"
                    name="service1" [(ngModel)]="service.serviceLink" [placeholder]="service.serviceLink"></textarea>
        </div>
      </app-dashboard-card>
    </div>
  </div>
</div>
